@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --espresso: #482e1d;
  --caramel: #895d2b;
  --leafy: #a3966a;
  --sand: #f0daae;
  --cinnamon: #90553c;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--sand);
  color: var(--espresso);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
